*.html
*.rds
*.pdf
ct050_artigo.bib
ct050_artigo_cache
ct050_artigo_files
ct050_artigo_giuliano_sposito.html.zip
ct050_artigo_reference_test.Rmd
ct050_artigo_reference_test_cache
ct050_artigo_reference_test_files
sna_on_cran_cache
sna_on_cran_files
